In [1]:
import cvmpy

In [2]:
fi = cvmpy.FI()
fi.fetch_historical_data(dataset="composicao_diversificacao",start_date='2025-05-01',end_date='2025-05-31')

https://dados.cvm.gov.br/dados/FI/DOC/CDA/DADOS/cda_fi_202505.zip
Done.

In [11]:
fi.composicao_diversificacao.cda_fi_BLC_6['TP_APLIC'].unique()

array(['Debêntures', 'Títulos de Crédito Privado',
       'Títulos ligados ao agronegócio'], dtype=object)

In [12]:
TIPO_6 = fi.composicao_diversificacao.cda_fi_BLC_6

In [24]:
cred_priv = TIPO_6.loc[TIPO_6['TP_APLIC']=='Títulos de Crédito Privado']

In [27]:
cred_priv['TP_ATIVO'].unique()

array(['Nota Promissória/ Commercial Paper/ Export Note', 'CCB', 'CCI',
       'CCCB'], dtype=object)

In [25]:
CRA = TIPO_6.loc[TIPO_6['TP_APLIC']=='Títulos ligados ao agronegócio']

In [21]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [31]:
CRA['TP_ATIVO'].unique()

array(['CRA', 'LCA', 'CDCA', 'NCA', 'CPR'], dtype=object)

BUSCANDO ATIVOS LONG BIASED

In [3]:
fi = cvmpy.FI()
fi.fetch_static_data(dataset='extrato_novo')
df_nome = fi.cad_fi_hist_denom_social
df_nome['DT_FIM_DENOM_SOCIAL'] = df_nome['DT_FIM_DENOM_SOCIAL'].fillna(0)
df_nome = df_nome.loc[df_nome['DT_FIM_DENOM_SOCIAL'] == 0]
df_nome = df_nome[['CNPJ_FUNDO','DENOM_SOCIAL']]
df_nome['DENOM_SOCIAL'] = df_nome['DENOM_SOCIAL'].fillna("")
df_nome.columns = ['CNPJ_FUNDO_CLASSE','NOME_FUNDO']
df_nome = df_nome.sort_values(by="NOME_FUNDO", ascending=False)
df_nome = df_nome.drop_duplicates(subset="CNPJ_FUNDO_CLASSE", keep="first")

Fetching data from: https://dados.cvm.gov.br/dados/FI/CAD/DADOS/cad_fi_hist.zip
Done.

In [6]:
df_long = df_nome.loc[df_nome['NOME_FUNDO'].str.contains("LONG BIAS")]

In [11]:
cnpjs = df_long['CNPJ_FUNDO_CLASSE'].unique().tolist()

In [10]:
df_long

         CNPJ_FUNDO_CLASSE                                         NOME_FUNDO
68351   20.622.305/0001-42  ÓRAMA OPPORTUNITY LONG BIASED FUNDO DE INVESTI...
54232   14.188.135/0001-37  ÁTICO LONG BIASED FUNDO DE INVESTIMENTO EM COT...
87226   31.389.814/0001-93  XP W1 LONG BIASED FUNDO DE INVESTIMENTO EM COT...
53885   14.115.120/0001-49  XP UNIQUE LONG BIASED FUNDO DE INVESTIMENTO MU...
77616   26.374.780/0001-23  XP QI LONG BIASED FUNDO DE INVESTIMENTO EM COT...
...                    ...                                                ...
136112  61.018.922/0001-10  ABSOLUTE PACE C1 LONG BIASED FIC DE FIF DE AÇÕ...
90769   33.625.506/0001-45  4UM LONG BIASED FUNDO DE INVESTIMENTO FINANCEI...
56107   15.109.357/0001-80  3R CEDAR LONG BIASED FUNDO DE INVESTIMENTO EM ...
65920   19.254.461/0001-19  3R CEDAR LONG BIASED FUNDO DE INVESTIMENTO DE ...
67217   20.006.729/0001-82  3R CEDAR 30 LONG BIASED FUNDO DE INVESTIMENTO ...

[743 rows x 2 columns]

In [ ]:
len(cnpjs)

743

In [14]:
from dateutil.relativedelta import relativedelta
from datetime import date, datetime, timedelta

d0 = datetime.today().date()
mes1 = d0 - relativedelta(months=1)
mes2 = d0 - relativedelta(months=2)
mes3 = d0 - relativedelta(months=3)
mes4 = d0 - relativedelta(months=4)
mes5 = d0 - relativedelta(months=5)
mes6 = d0 - relativedelta(months=6)
mes7 = d0 - relativedelta(months=7)
mes8 = d0 - relativedelta(months=8)
mes9 = d0 - relativedelta(months=9)
mes10 = d0 - relativedelta(months=10)
mes11 = d0 - relativedelta(months=11)
mes12 = d0 - relativedelta(months=12)
m1 = mes1.strftime("%m/%Y")
m2 = mes2.strftime("%m/%Y")
m3 = mes3.strftime("%m/%Y")
m4 = mes4.strftime("%m/%Y")

fundos = cvmpy.FI()
fundos.fetch_historical_data(dataset="informe_diario", start_date=m4, end_date=m1)

https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_202505.zip
https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_202506.zip
https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_202507.zip
https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_202508.zip
Done.

In [17]:
dados_pl_cotas = fundos.informe_diario.inf_diario_fi

In [30]:
fundos_long_bias = dados_pl_cotas.loc[dados_pl_cotas['CNPJ_FUNDO_CLASSE'].isin(cnpjs)]

In [39]:
data_maxima = datetime(2025,8,29)

In [40]:
import pandas as pd
fundos_long_bias_data = fundos_long_bias.loc[fundos_long_bias['DT_COMPTC'] == pd.to_datetime(data_maxima)]

In [41]:
fundos_long_bias_data

,TP_FUNDO_CLASSE,CNPJ_FUNDO_CLASSE,ID_SUBCLASSE,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
2129367,CLASSES - FIF,07.663.592/0001-70,NaN,2025-08-29,2.577709e+08,7.618974,2.581133e+08,0.0,0.00,325
2129433,CLASSES - FIF,07.875.686/0001-03,NaN,2025-08-29,3.032548e+07,8.668530,3.024328e+07,0.0,0.00,4
2130411,CLASSES - FIF,10.459.361/0001-54,NaN,2025-08-29,1.729132e+06,4.075924,1.740082e+06,0.0,0.00,6
2131108,CLASSES - FIF,12.282.747/0001-69,NaN,2025-08-29,1.711455e+08,375.407002,1.708280e+08,0.0,58000.00,99
2131117,CLASSES - FIF,12.297.830/0001-01,NaN,2025-08-29,2.218588e+08,574.871540,2.734126e+08,100000.0,60900.00,2
...,...,...,...,...,...,...,...,...,...,...
2151939,CLASSES - FIF,60.171.849/0001-50,NaN,2025-08-29,4.821805e+07,1.186525,4.862970e+07,0.0,0.00,8
2151949,CLASSES - FIF,60.184.974/0001-02,NaN,2025-08-29,3.265355e+07,1.089486,3.215059e+07,630000.0,0.00,3
2152010,CLASSES - FIF,60.354.488/0001-87,NaN,2025-08-29,2.772108e+07,10.541175,2.771243e+07,0.0,0.00,24
2152269,CLASSES - FIF,61.018.922/0001-10,NaN,2025-08-29,3.997304e+08,3.523309,3.993344e+08,195002.4,34595.37,19
2152401,CLASSES - FIF,61.290.820/0001-50,NaN,2025-08-29,2.730527e+07,474.118071,2.678595e+07,65000.0,44053.37,1

In [42]:
pl_long_bias = fundos_long_bias_data[['CNPJ_FUNDO_CLASSE','VL_PATRIM_LIQ']]

In [45]:
pl_long_bias_nomes = pl_long_bias.merge(df_long,how='left')

In [47]:
pl_long_bias_nomes.to_excel(r"C:\Users\PedroCervo-Quantitas\Downloads\long_bias.xlsx")

teste rentabilidade cvm

In [4]:
from dateutil.relativedelta import relativedelta
from datetime import date, datetime, timedelta
import cvmpy

d0 = datetime.today().date()
mes1 = d0 - relativedelta(months=1)
mes2 = d0 - relativedelta(months=2)
mes3 = d0 - relativedelta(months=3)
mes4 = d0 - relativedelta(months=4)
mes5 = d0 - relativedelta(months=5)
mes6 = d0 - relativedelta(months=6)
mes7 = d0 - relativedelta(months=7)
mes8 = d0 - relativedelta(months=8)
mes9 = d0 - relativedelta(months=9)
mes10 = d0 - relativedelta(months=10)
mes11 = d0 - relativedelta(months=11)
mes12 = d0 - relativedelta(months=12)
m1 = mes1.strftime("%m/%Y")
m2 = mes2.strftime("%m/%Y")
m3 = mes3.strftime("%m/%Y")
m4 = mes4.strftime("%m/%Y")

In [5]:
def informes_cvm(m4,m1):
    # Carrega informe diario do mês
    fundos = cvmpy.FI()
    fundos.fetch_historical_data(dataset="informe_diario", start_date=m4, end_date=m1)
    return fundos

In [6]:
fundos = informes_cvm(m4,m1)

https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_202505.zip
https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_202506.zip
https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_202507.zip
https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_202508.zip
Done.

In [11]:
informe_diario = fundos.informe_diario.inf_diario_fi

In [14]:
df_pactual = informe_diario.loc[informe_diario['CNPJ_FUNDO_CLASSE'] == '00.888.897/0001-31']

In [18]:
df_pactual

,TP_FUNDO_CLASSE,CNPJ_FUNDO_CLASSE,ID_SUBCLASSE,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
147,FI,00.888.897/0001-31,NaN,2025-05-02,1.080064e+09,61.106703,1.079529e+09,1944401.58,3606336.08,15096
25451,FI,00.888.897/0001-31,NaN,2025-05-05,1.078635e+09,61.109967,1.075691e+09,964841.24,4860092.97,15063
50758,FI,00.888.897/0001-31,NaN,2025-05-06,1.075135e+09,61.149274,1.075464e+09,867564.40,1786864.06,15037
76240,FI,00.888.897/0001-31,NaN,2025-05-07,1.073687e+09,61.150622,1.072953e+09,252528.83,2787643.40,15003
101588,FI,00.888.897/0001-31,NaN,2025-05-08,1.070576e+09,61.162907,1.070833e+09,548353.82,2883194.54,14972
...,...,...,...,...,...,...,...,...,...,...
2077741,CLASSES - FIF,00.888.897/0001-31,MZMRC1747322915,2025-08-27,8.031825e+08,63.685572,8.025574e+08,604448.66,8858136.30,13738
2102771,CLASSES - FIF,00.888.897/0001-31,RBMFN1747320951,2025-08-28,3.421578e+07,63.842895,3.419928e+07,9000.00,3000.00,1
2102772,CLASSES - FIF,00.888.897/0001-31,MZMRC1747322915,2025-08-28,8.038961e+08,63.775438,8.032381e+08,918143.18,1369992.69,13727
2127808,CLASSES - FIF,00.888.897/0001-31,RBMFN1747320951,2025-08-29,3.426594e+07,63.951644,3.424854e+07,2000.00,11000.00,1
2127809,CLASSES - FIF,00.888.897/0001-31,MZMRC1747322915,2025-08-29,8.041661e+08,63.882825,8.034708e+08,1894780.75,3014598.40,13723

In [21]:
repetidos = df_pactual[df_pactual.duplicated(subset=["DT_COMPTC"], keep=False)]

In [23]:
cnpjs_repetidos = repetidos['CNPJ_FUNDO_CLASSE'].unique().tolist()

In [27]:
max_dt = repetidos['DT_COMPTC'].max()
df_last = repetidos.loc[repetidos['DT_COMPTC'] == max_dt]

In [30]:
maior = df_last['VL_PATRIM_LIQ'].max()

In [36]:
ml2 = df_last.loc[df_last['VL_PATRIM_LIQ'] == maior]['ID_SUBCLASSE'].iloc[0]

In [37]:
ml2

'MZMRC1747322915'

In [40]:
for valor in cnpjs_repetidos:
    df = df_pactual.loc[df_pactual['CNPJ_FUNDO_CLASSE'] == valor]
    max_dt = df['DT_COMPTC'].max()
    df_last = df.loc[df['DT_COMPTC'] == max_dt]
    maior = df_last['VL_PATRIM_LIQ'].max()
    subclasse = df_last.loc[df_last['VL_PATRIM_LIQ'] == maior]['ID_SUBCLASSE'].iloc[0]
    df_pactual = df_pactual.loc[df_pactual['ID_SUBCLASSE'] != subclasse]

In [41]:
df_pactual

,TP_FUNDO_CLASSE,CNPJ_FUNDO_CLASSE,ID_SUBCLASSE,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
147,FI,00.888.897/0001-31,NaN,2025-05-02,1.080064e+09,61.106703,1.079529e+09,1944401.58,3606336.08,15096
25451,FI,00.888.897/0001-31,NaN,2025-05-05,1.078635e+09,61.109967,1.075691e+09,964841.24,4860092.97,15063
50758,FI,00.888.897/0001-31,NaN,2025-05-06,1.075135e+09,61.149274,1.075464e+09,867564.40,1786864.06,15037
76240,FI,00.888.897/0001-31,NaN,2025-05-07,1.073687e+09,61.150622,1.072953e+09,252528.83,2787643.40,15003
101588,FI,00.888.897/0001-31,NaN,2025-05-08,1.070576e+09,61.162907,1.070833e+09,548353.82,2883194.54,14972
...,...,...,...,...,...,...,...,...,...,...
2027588,CLASSES - FIF,00.888.897/0001-31,RBMFN1747320951,2025-08-25,3.406103e+07,63.698760,3.404716e+07,0.00,15000.00,1
2052687,CLASSES - FIF,00.888.897/0001-31,RBMFN1747320951,2025-08-26,3.404463e+07,63.709477,3.402989e+07,0.00,23000.00,1
2077740,CLASSES - FIF,00.888.897/0001-31,RBMFN1747320951,2025-08-27,3.416021e+07,63.752004,3.414460e+07,150000.00,58000.00,1
2102771,CLASSES - FIF,00.888.897/0001-31,RBMFN1747320951,2025-08-28,3.421578e+07,63.842895,3.419928e+07,9000.00,3000.00,1
2127808,CLASSES - FIF,00.888.897/0001-31,RBMFN1747320951,2025-08-29,3.426594e+07,63.951644,3.424854e+07,2000.00,11000.00,1

In [15]:
df_pactual.to_excel(r"C:\Users\PedroCervo-Quantitas\Downloads\fundos_btg.xlsx")